h2 {
	text-decoration: underline;
	font-family:  'Lato', sans-serif;

}

#w3_content {
	float: right;
}

body {
	padding: 20px;
}
#redesign_web {
	width: 180px;
	height: 203px;
	text-align: center;
	clear: both;
}

a .link_box{
	font-weight: 120;
	color: white;
	background: #ff0000;
	height: 300px;
	border-radius: 3px;
	font-size: 16px;
}