html{
	font-family: Verdana;
	margin: 0;
	padding: 0;
	background-image: url("images/stripe_tile.jpg");
}
header{
	font-size: 85px;
}

#sidebar{
	float: right;
	width: 185px;
	margin-top: -20.5em;
	border: 10px solid #1C020E;
	font-family: Arial;
	background-color: #C70A5F;
	
}

a:link{
	color: blue; 
}
a:visited{
	color: white;
}
a:hover{
	color: #E2E838;
}
a:active{
	color: #31A112;
}
#image1{
	float: left;
	margin: auto;
	margin-bottom: 0px;
	border-width: 7px;
	border-style: solid;
	border-color: black;
}

#image2{
	float: left;
	margin: auto;
	margin-bottom: 0px;
	border-width: 7px;
	border-style: solid;
	border-color: black;
	border-left: none;
}


#content{
	text-align: center;
	width: 750px;
	margin-right: -15em;
	background: #FAEDD9;
}

.area{
	text-align: center;
}

#footer{
	clear: both;
	text-align: center;
}
#caption1{
    position: absolute; 
    top: 600px; 
    right: 850px; 
    background-color: #BF0628;
    border-style: dotted;
    border-color: black;
    border-radius: 23px;
  }

  #caption2{
    position: absolute; 
    top: 600px; 
    right: 500px; 
    background-color: #BF0628;
    border-style: dotted;
    border-color: black;
    border-radius: 23px;
  }

  .captions{
  	color: white;
  }