nav {
	text-align: center;
	font-size: 25px;
	color: black;
	width: -936px;
	word-spacing: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background: #F4F2F7;
	height: 80px;
}

body {
	font-family: 'Roboto', sans-serif;
}

#projects{
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	/*display: block;*/
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#divvy{

    border: 4px solid black;
}

#divvylink {
	color: blue;
}

#projects .caption {
	margin: 30px 80px 80px 30px; 
}

#profile{
	margin-top: 40px;
	margin-left: 100px;
	font-family: 'Noto Sans', sans-serif;
	/*font-weight: 400;*/
	
}

.profile_title{
	text-align: center;
/*	margin-left: -100px;
	margin-bottom: 20px;*/
	font-family: 'Parisienne', cursive;
	font-size: 40px;
}

.italic{
	font-style: italic;
}

.resume{
	margin-left: 100px;
	font-family: 'Roboto', sans-serif;
}

.container{
	margin-top: 10px; 
}

a:link {color: black;
text-decoration:none;} /*text-decoration: none or underline will take the 
underline away from the links in all states. From w3 "The text-decoration property 
is mostly used to remove underlines from links"*/
a:visited{
	color: black;
}

a:hover {text-decoration:underline;}

a:active {
	color: #31A112;
	text-decoration:underline;
}

#name {
	font-family: 'Parisienne', cursive; 
	font-size: 43px;
	word-spacing: 10px;
	float: left;
}

#education {
	font-size: 23px;
}

#myCarousel{
	margin-bottom: 0px;
	padding-bottom: 0px; 
}

.CONTACT{
	/*clear: both;*/
	text-align: center;
	font-size: 33px;
	margin-top: 0px;
	/*padding: 10px;*/
	background: #F5F5F5;
	height: 160px;
}

.CONTACT2{
	/*clear: both;*/
	/*text-align: center;*/
	font-size: 12px;
	margin-top: 20px;
	/*padding: 10px;*/
	background: #F5F5F5;
	height: 140px;
}

#contact_1{
	margin-left: 150px;
	margin-right: 150px;
	float: left;
}

#linkedin {
	width: 100px;
	height: 100px;
}

#contact_2{
	margin-left: 145px;
	margin-right: 145px;
	float: left;
}

#github {
	width: 100px;
	height: 100px;
}

#contact_3{
	margin-left: 140px;
	margin-right: 25px;
	float: left;
}

#gmail {
	width: 100px;
	height: 100px;
	margin-left: 25px;
	margin-right: 25px;
}

.division {
	margin: 100px;
}

#skillset{
	float: left; 
	margin-left: 40px; 
	margin-right: 40px;
}

.skill-rate-on{
	display: table-cell;
	background: #353535;
	width: 62px;
	height: 4px;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
}

.skill-rate-off{
	display: table-cell;
	background: #DBD9DE;
	width: 62px;
	height: 4px;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
}

.profile_title{
	margin-left: -100px;
	margin-bottom: 20px;
}

#avatar {
	border: 4px solid black;
	float: left;
}

#first_hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#summary{
	float: left; 
	width: 395px;
}

.hidden{
	clear: both;
}

.category{
	float: left;
}

.desc{
	float: left; 
	margin-left: 80px; 
	height: 200px; 
	width: 685px; 
}

.desc2{
	float: left; 
	margin-left: 90px; 
	height: 200px; 
	width: 685px;
}
@media (max-width: 320px)
@media (max-width: 480px)
@media (max-width: 600px)
@media (max-width: 768px)
@media (min-width: 900px)

