html {
	font-family: 'Lato', sans-serif; 
}
nav {
	text-align: center;
	font-size: 35px;
	color: black;
	width: -936px;
	word-spacing: 40px;
	font-family: 'Dosis', sans-serif;
}
a:link {color: black;
text-decoration:none;} /*text-decoration: none or underline will take the 
underline away from the links in all states. From w3 "The text-decoration property 
is mostly used to remove underlines from links"*/
a:visited{
	color: black;
}
a:hover {text-decoration:underline;}
a:active {color: #31A112;
	text-decoration:underline;}
#name {
	font-family: 'Parisienne', cursive; 
	font-size: 43px;
	word-spacing: 10px;
	float: left;
	}
.lines {
	height: 100px; 
}

.About {
	text-align: center;
	width: 406.5px;
	height: 40px;
	padding: 10 20 10 20;
	margin-top: 10;
	margin-bottom: 10;
	border: 0;

}

#education {
	font-size: 23px;
}

#header_image {
 background-color: black;
 width: 100%;
 min-width: 100%;
 min-height: 604px;
 height: 604px;
text-align: center;
}

img#portrait {
	width: 902px;
	min-width: 902px;
	height: 602px;
	min-height: 602px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
}
#Portfolio {
	clear: both;
	text-align: center;
	font-size: 33px;
	margin-top: 20px;
	padding: 10px;
}

#dbc1 {
	border-radius: 50%;
	border: dotted;
	padding: 30px;
	margin: 10px;
}

#solo {
	border-radius: 50%;
	border: dotted;
	padding: 30px;
	margin: 10px;
}

#blog {
	border-radius: 50%;
	border: dotted;
	padding: 30px;
	margin: 10px;
}

#wireframe {
	border-radius: 50%;
	border: dotted;
	padding: 30px;
	margin: 10px;
}

#cultural {
	border-radius: 50%;
	border: dotted;
	padding: 30px;
	margin: 10px;
}
/*#dbc1_text {
width: 300px;
height: 300px;
}
#dbc2_text {
width: 300px;
height: 300px;
}
#dbc3_text {
width: 300px;
height: 300px;
}
*/

.CONTACT{
	clear: both;
	text-align: center;
	font-size: 33px;
	margin-top: 20px;
	padding: 10px;
}

#linkedin {
	width: 300px;
	height: 300px;

}

#github {
	width: 300px;
	height: 300px;

}

#gmail {
	width: 300px;
	height: 300px;

}

.division {
	margin: 100px;
}

.carousel-caption h2{
  font-family: 'Dosis'
}

.panel-body p{
	text-align: center;
}
@media (max-width: 320px)
@media (max-width: 480px)
@media (max-width: 600px)
@media (max-width: 768px)
@media (min-width: 900px)

